@{
    ViewData["Title"] = "Главная страница GigaPizza";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <style>
        img {
            width: 300px;
            height: auto;
        }
    </style>
</head>

<body>
    <main class="giga-pizza">
        <h1>Продукты сервиса GigaPizza</h1>
        <p>Заказ пиццы на любой вкус в нашем сервисе. Мы предлагаем широкий ассортимент пицц, которые удовлетворят даже
            самых взыскательных гурманов. Наша команда профессиональных поваров использует только свежие и качественные
            ингредиенты, чтобы создать идеальную пиццу для вас.</p>
        <p>Каждая пицца готовится с любовью и вниманием к деталям. Вы можете выбрать из множества вариантов, включая
            классические и уникальные рецепты. Мы также предлагаем возможность настроить свою пиццу по вашему вкусу,
            добавляя или убирая ингредиенты.</p>
        <p>Кроме того, у нас есть специальные предложения и акции, которые помогут вам сэкономить на заказе. Не упустите
            возможность попробовать наши новинки и сезонные предложения!</p>

        <div class="pizza-item">
            <img class="pizza-image" src="images/pizza/pizza_hum_and_mushrooms.avif" alt="Пицца Ветчина и Грибы">
            <div class="pizza-description">
                <h2>Пицца Ветчина и Грибы</h2>
                <p><strong>Ингредиенты:</strong> Ветчина, шампиньоны, увеличенная порция моцареллы, фирменный томатный
                    соус
                </p>
                <p><strong>Цена:</strong> 549 руб.</p>
                <p><strong>Описание:</strong> Эта пицца сочетает в себе нежную ветчину и свежие шампиньоны, что делает
                    ее
                    идеальным выбором для любителей классических вкусов.</p>
                <p><strong>Приготовление:</strong> Начинаем с теста, которое замешивается из высококачественной муки и
                    оставляется для расстойки. Затем тесто раскатывается, на него наносится фирменный томатный соус,
                    посыпается щедрой порцией моцареллы, добавляется ветчина и нарезанные грибы. Пицца выпекается в
                    дровяной
                    печи до золотистой корочки.</p>
            </div>
        </div>

        <div class="pizza-item reverse">
            <img class="pizza-image" src="images/pizza/pizza_margarita.avif" alt="Пицца Маргарита">
            <div class="pizza-description">
                <h2>Пицца Маргарита</h2>
                <p><strong>Ингредиенты:</strong> Увеличенная порция моцареллы, томаты, итальянские травы, фирменный
                    томатный
                    соус</p>
                <p><strong>Цена:</strong> 549 руб.</p>
                <p><strong>Описание:</strong> Классическая итальянская пицца, которая восхищает простотой и свежестью.
                    Основные ингредиенты — моцарелла, томаты и итальянские травы.</p>
                <p><strong>Приготовление:</strong> Тесто готовится по традиционному рецепту, затем покрывается томатным
                    соусом, добавляется моцарелла, нарезанные свежие помидоры и щепотка базилика. Пицца выпекается до
                    тех
                    пор, пока сыр не расплавится и не начнет пузыриться.</p>
            </div>
        </div>

        <div class="pizza-item">
            <img class="pizza-image" src="images/pizza/pizza_pepperoni.avif" alt="Пицца Пепперони">
            <div class="pizza-description">
                <h2>Пицца Пепперони</h2>
                <p><strong>Ингредиенты:</strong> Пикантная пепперони, увеличенная порция моцареллы, томаты, фирменный
                    томатный соус</p>
                <p><strong>Цена:</strong> 450 руб.</p>
                <p><strong>Описание:</strong> Эта пицца — настоящая находка для мясоедов. Пикантная пепперони в
                    сочетании с
                    расплавленным сыром создает невероятный вкус.</p>
                <p><strong>Приготовление:</strong> Сначала готовится основа из теста, затем на нее наносится томатный
                    соус,
                    посыпается моцареллой и укладывается щедрое количество пепперони. Пицца выпекается до хрустящей
                    корочки,
                    а пепперони становится слегка поджаренным и ароматным.</p>
            </div>
        </div>

        <div class="pizza-item reverse">
            <img class="pizza-image" src="images/pizza/pizza_cheese.avif" alt="Пицца Сырная">
            <div class="pizza-description">
                <h2>Пицца Сырная</h2>
                <p><strong>Ингредиенты:</strong> Моцарелла, сыры чеддер и пармезан, фирменный соус альфредо</p>
                <p><strong>Цена:</strong> 400 руб.</p>
                <p><strong>Описание:</strong> Для настоящих любителей сыра! Эта пицца включает в себя несколько видов
                    сыра,
                    что делает ее невероятно насыщенной и вкусной.</p>
                <p><strong>Приготовление:</strong> На раскатанное тесто наносится соус альфредо, затем укладываются слои
                    моцареллы, сыра чеддер и пармезан. Пицца выпекается до тех пор, пока сыры не расплавятся и не
                    создадут
                    аппетитную корочку.</p>
            </div>
        </div>

        <p><strong>Отзывы клиентов</strong></p>
        <p>Мы гордимся тем, что наши клиенты оставляют положительные отзывы о нашем сервисе. Каждый отзыв для нас важен,
            и
            мы стараемся учитывать их в нашей работе. Мы понимаем, что довольные клиенты — это наша главная ценность, и
            мы
            делаем все возможное, чтобы обеспечить им лучший опыт.</p>
        <p>Кроме того, мы активно работаем над тем, чтобы улучшить наш сервис на основе отзывов клиентов. Мы ценим
            каждое
            ваше мнение и стремимся сделать все, чтобы вы остались довольны нашим обслуживанием и качеством пиццы.</p>
        <div class="show-reviews" id="showReviews">Показать отзывы (0)</div>
        <div class="reviews" id="reviewsContainer">
            <!-- Комментарии будут динамически добавлены здесь -->
        </div>
    </main>

    <script>
        // Флаг для отображения состояния
        let reviewsVisible = false;

        // Функция для отображения комментариев
        function displayReviews() {
            const reviewsContainer = document.getElementById('reviewsContainer');
            const storedReviews = JSON.parse(localStorage.getItem('reviews'));

            if (storedReviews) {
                if (reviewsVisible) {
                    reviewsContainer.style.display = 'none';
                    reviewsVisible = false;
                    document.getElementById('showReviews').textContent = `Показать отзывы (${storedReviews.length})`;
                } else {
                    reviewsContainer.innerHTML = '';
                    storedReviews.forEach(review => {
                        const reviewCard = document.createElement('blockquote');
                        reviewCard.className = 'review-card';
                        reviewCard.innerHTML = `
                        <div class="review-content">
                            <img src="${review.avatar}" alt="Фото ${review.author.split(",")[0]}" class="review-avatar">
                            <p>${review.text}</p>
                        </div>
                        <div class="review-author">- ${review.author}</div>
                    `;
                        reviewsContainer.appendChild(reviewCard);
                    });
                    reviewsContainer.style.display = 'flex';
                    reviewsVisible = true;
                    document.getElementById('showReviews').textContent = `Скрыть отзывы (${storedReviews.length})`;
                }
            }
        }

        function initializeReviews() {
            const storedReviews = JSON.parse(localStorage.getItem('reviews'));
            const reviewCount = storedReviews ? storedReviews.length : 0;
            document.getElementById('showReviews').textContent = `Показать отзывы (${reviewCount})`;
        }

        document.getElementById('showReviews').addEventListener('click', () => {
            displayReviews();
        });

        window.onload = initializeReviews;
    </script>
</body>
