.error-message {
    color: #FF8080;
    border: #FF8080 solid 2px;
    font-size: 12px;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 10px;
    display: none;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    margin-top: 20px;
    z-index: 10;
}

#pizza-form {
    width: 600px;
    position: relative;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    display: inline-block;
}

button {
    margin-top: 20px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group input[type="checkbox"] {
    display: none;
}

.checkbox-group label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #012E4A;
}

.checkbox-group label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #378BA4;
    border-radius: 4px;
    background: white;
    transition: 0.3s;
}

.checkbox-group input[type="checkbox"]:checked+label:before {
    background: #378BA4;
    border-color: #378BA4;
}

.checkbox-group input[type="checkbox"]:checked+label {
    color: #378BA4;
}

.autocomplete-dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    display: none;
}

.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}

    .autocomplete-item:hover {
        background: #f0f0f0;
    }
